body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.grid {
    padding-top: 2em;
}

.colum {
    padding: 1em;
}

.am-sidebar {
    text-align: center;
}

.am-body {
    text-align: left;
    padding-top: 4em;
    padding-right:6em;
}

img.title {
        float: right;
        border-style: solid;
}